.divContent>table {
    border-collapse: collapse;
    width: 100% !important;
}
table {
    margin-bottom: 12px;
    width: 1200px;
    border-collapse: collapse;
    border-spacing: 0;
}
table, table th, table td {
    border: 1px solid #000;
    margin: auto;
}
* {
    margin: 0;
    padding: 0;
}
table[AttributesStyle] {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-border-horizontal-spacing: 1px;
    -webkit-border-vertical-spacing: 1px;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
input, button, option, textarea, label, select, legend, h1, h2, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    outline: none;
}
body{
    
    padding-left: 20px;
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    outline: none;
}
.pagedetail h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.btn-search{
    padding-top: 5px;
}